@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

.logo {
    display: block;
    width: 289px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
.heading-1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 0 17px 0;
}

h2,
.heading-2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    color: #363636;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

h3,
.heading-3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #363636;
    margin: 0 0 20px 0;
    text-transform: capitalize;
    max-width: 302px;
}

h6,
.heading-6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: #135B9B;
    margin: 0 0 18px 0;
}

span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #135B9B;
}

p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    color: #3D3D3D;
    margin: 0 0 26px 0;
}

.cmn-btn {
    display: inline-block;
    padding: 16.5px 39px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9A1313;
    text-transform: capitalize;
}

.cmn-btn:hover {
    background-color: #135B9B;
}

/* header  */
.header {
    padding: 30px 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 22px 0 0;
    position: relative;
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-link li a {
    font-size: 16px;
    font-weight: 400;
    color: #363636;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    display: inline-block;
    /* needed for transform */
}

.nav-link li a:hover {
    color: #9A1313;
    transform: translateY(-2px);
    /* small smooth move */
}

.nav-link li {
    margin: 0 26px 0 0;
}

.nav-link li:nth-child(6) {
    margin: 0;
}

.hamburger {
    display: none !important;
    font-size: 26px;
    cursor: pointer;
}

.nav-link.active {
    right: 0;

}

/* header  */

/* banner  */
.banner {
    background:
        linear-gradient(to right, #1980dbba, rgba(11, 56, 95, 0.926)),
        url(../images/banner-back.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
}

/* banner  */

/* simply  */
.simply {
    padding: 73px 0 238px 0;
}

.simply .container {
    max-width: 1140px;
}

.simply-upper-text {
    text-align: center;
    margin: 0 0 41px 0;
}

.simply-upper-text p {
    max-width: 707px;
    margin: 0 auto;
}

.simply-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 0 50px 0;
}

.cmn-simply {
    padding: 12px;
    border: 1px solid #D9D9D9;
}

.cmn-simply:hover h3 {
    color: #135B9B;
}

.cmn-simply:hover .btn-2 {
    color: #135B9B;
}

.cmn-simply-inner-upper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.date {
    font-size: 16px;
    font-weight: 200;
    text-transform: capitalize;
    margin: 0 41px 0 0;
}

.user {
    font-size: 16px;
    font-weight: 200;
    text-transform: capitalize;
}

.date i,
.user i {
    color: #135B9B;
}

.btn-2 {
    background: none;
    color: #363636;
    padding: 0;
}

.btn-2:hover {
    background: none;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.pagination .page,
.pagination .next {
    padding: 6px 10px;
    color: #333;
    font-size: 16px;
}

.pagination .page.active {
    background: #2f6fa8;
    color: #fff;
    border-radius: 4px;
}

.pagination .dots {
    color: #777;
    font-size: 18px;
}

/* simply  */

/* footer  */
.footer {
    background-color: #1A1A1A;
    padding: 246px 0 21px 0;

}

.footer .container {
    max-width: 1142px;
    position: relative;
}

.footer-upper {
    background-color: #9A1313;
    border-radius: 12px;
    text-align: center;
    padding: 57px 0;
    width: 100%;
    position: absolute;
    top: -400px;
    left: 0;
}

.footer-upper-head {
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 0 14px 0;
}

.footer-upper p {
    color: #FFFFFF;
    max-width: 952px;
    margin: 0 auto 24px auto;
}

.btn-3 {
    background-color: #FFFFFF;
    color: #9A1313;
}

.btn-3:hover {
    box-shadow: 0 0 1px 1px #FFFFFF;
    background: none;
    color: #FFFFFF;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-footer {
    width: 30%;
    padding: 0 20px;
}

.cmn-footer:nth-child(1) {
    width: 40%;
}

.cmn-footer p {
    color: #FFFFFF;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icons li a {
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.footer-social-icons li a:hover {
    background-color: #FFFFFF;
    color: #1A1A1A;
}

.footer-social-icons li {
    margin: 0 14px 0 0;
}

.footer-inner-link:nth-child(1) {
    margin: 0 23px 0 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-head {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 12px 0;
    border-bottom: 1px solid #3D3D3D;
}

.footer-inner-link li a {
    font-size: 15px;
    font-weight: 200;
    color: #FFFFFF;

}

.footer-inner-link li a:hover {
    color: #135B9B;
}

.footer-inner-link li {
    margin: 0 0 12px 0;
}

.footer-contact li a {
    font-size: 15px;
    font-weight: 200;
    color: #FFFFFF;
}

.footer-contact li a:hover {
    color: #135B9B;
}

.footer-contact li {
    margin: 0 0 12px 0;
}

/* footer  */


@media (min-width: 320px) and (max-width: 576.98px) {
    .logo {
        width: 150px;
    }

    h1,
    .heading-1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        color: #FFFFFF;
        margin: 0;
    }

    h2,
    .heading-2 {
        font-size: 24px;
        line-height: 1.1;
    }

    h3,
    .heading-3 {
        font-size: 18px;
        line-height: 1.1;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 11px;
        line-height: 1.1;
        margin: 0 0 11px 0;
    }

    span {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #135B9B;
    }

    .cmn-btn {
        padding: 9.5px 10px;
        font-size: 11px;
        color: #FFFFFF;
        background-color: #9A1313;
        text-transform: capitalize;
    }


    .header {
        padding: 10px 0;
    }

    /* hamburger  */
    .hamburger {
        display: block !important;
        z-index: 1001;
    }

    .nav-link {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #a8ccec;
        padding-top: 100px;
        z-index: 999;
    }


    .nav-link.active {
        right: -30px;
    }

    .nav-link li {
        margin: 20px 0;
    }

    /* hamburger  */

    /* simplify  */
    .simply {
        padding: 73px 0 148px 0;
    }

    .simply-child {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 0 50px 0;
    }

    .date {
        font-size: 14px;
    }

    .user {
        font-size: 14px;
    }

    .cmn-simply-inner-upper {
        margin: 0 0 14px 0;
    }

    .pagination .page,
    .pagination .next {
        padding: 3px 8px;
        color: #333;
        font-size: 11px;
    }

    /* simplify  */

    /* footer  */
    .footer {
        padding: 150px 0 21px 0;
    }

    .cmn-footer {
        width: 100%;
        padding: 0 20px;
        margin: 0 0 30px 0;
    }

    .footer-upper {
        padding: 13px 0;
        top: -234px;
        left: 0;
    }

    .footer-upper-head {
        font-size: 17px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0 0 11px 0;
    }

    .footer-head {
        font-size: 17px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0 0 12px 0;
        border-bottom: 1px solid #3D3D3D;
    }

    .footer-upper p {
        color: #FFFFFF;
        max-width: 952px;
        margin: 0 auto 10px auto;
    }

    .cmn-footer:nth-child(1) {
        width: 100%;
    }

    .cmn-footer p {
        margin: 0 0 21px 0;

    }

    .footer-social-icons li a {
        font-size: 15px;
        padding: 5px 7px;
    }

    .footer-inner-link li a {
        font-size: 13px;
    }

    .footer-inner-link li {
        margin: 0 0 5px 0;
    }

    .footer-contact li a {
        font-size: 13px;
    }

    .footer-contact li {
        margin: 0 0 6px 0;
    }

    /* footer  */

}

@media (min-width: 577px) and (max-width: 767.98px) {
        .logo {
        width: 150px;
    }

    h1,
    .heading-1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        color: #FFFFFF;
        margin: 0;
    }

    h2,
    .heading-2 {
        font-size: 24px;
        line-height: 1.1;
    }

    h3,
    .heading-3 {
        font-size: 18px;
        line-height: 1.1;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 11px;
        line-height: 1.1;
        margin: 0 0 11px 0;
    }

    span {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #135B9B;
    }

    .cmn-btn {
        padding: 9.5px 10px;
        font-size: 11px;
        color: #FFFFFF;
        background-color: #9A1313;
        text-transform: capitalize;
    }


    .header {
        padding: 10px 0;
    }

    /* hamburger  */
    .hamburger {
        display: block !important;
        z-index: 1001;
    }

    .nav-link {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #a8ccec;
        padding-top: 100px;
        z-index: 999;
    }


    .nav-link.active {
        right: -30px;
    }

    .nav-link li {
        margin: 20px 0;
    }

    /* hamburger  */

    /* simplify  */
    .simply {
        padding: 73px 0 148px 0;
    }

    .simply-child {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 0 50px 0;
    }

    .date {
        font-size: 14px;
    }

    .user {
        font-size: 14px;
    }

    .cmn-simply-inner-upper {
        margin: 0 0 14px 0;
    }

    .pagination .page,
    .pagination .next {
        padding: 3px 8px;
        color: #333;
        font-size: 11px;
    }

    /* simplify  */

    /* footer  */
    .footer {
        padding: 150px 0 21px 0;
    }

    .cmn-footer {
        width: 100%;
        padding: 0 20px;
        margin: 0 0 30px 0;
    }

    .footer-upper {
        padding: 13px 0;
        top: -234px;
        left: 0;
    }

    .footer-upper-head {
        font-size: 17px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0 0 11px 0;
    }

    .footer-head {
        font-size: 17px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0 0 12px 0;
        border-bottom: 1px solid #3D3D3D;
    }

    .footer-upper p {
        color: #FFFFFF;
        max-width: 952px;
        margin: 0 auto 10px auto;
    }

    .cmn-footer:nth-child(1) {
        width: 100%;
    }

    .cmn-footer p {
        margin: 0 0 21px 0;

    }

    .footer-social-icons li a {
        font-size: 15px;
        padding: 5px 7px;
    }

    .footer-inner-link li a {
        font-size: 13px;
    }

    .footer-inner-link li {
        margin: 0 0 5px 0;
    }

    .footer-contact li a {
        font-size: 13px;
    }

    .footer-contact li {
        margin: 0 0 6px 0;
    }

    /* footer  */
}

@media (min-width: 768px) and (max-width: 991.98px) {
            .logo {
        width: 150px;
    }

    h1,
    .heading-1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        color: #FFFFFF;
        margin: 0;
    }

    h2,
    .heading-2 {
        font-size: 30px;
        line-height: 1.1;
    }

    h3,
    .heading-3 {
        font-size: 20px;
        line-height: 1.1;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 15px;
        line-height: 1.1;
        margin: 0 0 11px 0;
    }

    span {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #135B9B;
    }

    .cmn-btn {
        padding: 9.5px 10px;
        font-size: 11px;
        color: #FFFFFF;
        background-color: #9A1313;
        text-transform: capitalize;
    }


    .header {
        padding: 10px 0;
    }

    /* hamburger  */
    .hamburger {
        display: block !important;
        z-index: 1001;
    }

    .nav-link {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #a8ccec;
        padding-top: 100px;
        z-index: 999;
    }


    .nav-link.active {
        right: -30px;
    }

    .nav-link li {
        margin: 20px 0;
    }

    /* hamburger  */

    /* simplify  */
    .simply {
        padding: 73px 0 148px 0;
    }

    .simply-child {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0 0 50px 0;
    }

    .date {
        font-size: 14px;
    }

    .user {
        font-size: 14px;
    }

    .cmn-simply-inner-upper {
        margin: 0 0 14px 0;
    }

    .pagination .page,
    .pagination .next {
        padding: 3px 8px;
        color: #333;
        font-size: 11px;
    }

    /* simplify  */

    /* footer  */
    .footer {
        padding: 150px 0 21px 0;
    }

    .cmn-footer {
        width: 50%;
        padding: 0 20px;
        margin: 0 0 30px 0;
    }
    .cmn-footer:nth-child(1){
        width: 50%;
    }
    .footer-upper {
        padding: 13px 0;
        top: -234px;
        left: 0;
    }

    .footer-upper-head {
        font-size: 17px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0 0 11px 0;
    }

    .footer-head {
        font-size: 17px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0 0 12px 0;
        border-bottom: 1px solid #3D3D3D;
    }

    .footer-upper p {
        color: #FFFFFF;
        max-width: 952px;
        margin: 0 auto 10px auto;
    }

    .cmn-footer:nth-child(1) {
        width: 100%;
    }

    .cmn-footer p {
        margin: 0 0 21px 0;

    }

    .footer-social-icons li a {
        font-size: 15px;
        padding: 5px 7px;
    }

    .footer-inner-link li a {
        font-size: 13px;
    }

    .footer-inner-link li {
        margin: 0 0 5px 0;
    }

    .footer-contact li a {
        font-size: 13px;
    }

    .footer-contact li {
        margin: 0 0 6px 0;
    }

    /* footer  */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* hamburger  */
    .hamburger {
        display: block !important;
        z-index: 1001;
    }

    .nav-link {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #a8ccec;
        padding-top: 100px;
        z-index: 999;
    }


    .nav-link.active {
        right: -30px;
    }

    .nav-link li {
        margin: 20px 0;
    }

    /* hamburger  */

}

@media (min-width: 1200px) and (max-width: 1399.98px) {}